.create-with__container {
  width: 90%;
  margin: 0 auto;
}

.create-live__container {
  width: 100%;
  margin: 0 auto;
}

.input-title__container {
  width: 100px;
  flex-shrink: 0;
  font-size: 20px;
}

.content-input__container {
  textarea {
    resize: none;
  }
}

.create-option__container {
  flex-wrap: wrap;
}

.create-option__button--clicked {
  color: blue;
}

/* */

.create-live-header__container {
  @extend .lives-header__container;
  margin-right: 10px;
}

.create-sub-title {
  display: flex;
  align-items: flex-end;
  color: $dull-color;
  font-size: 17px;
}
