.create-with__container {
  width: 90%;
  margin: 0 auto;
}

.create-live__container {
  width: 100%;
  margin: 0 auto;
}

.input-title__container {
  width: 100px;
  flex-shrink: 0;
  font-size: 20px;
}

.content-input__container {
  textarea {
    resize: none;
  }
}

.create-option__container {
  flex-wrap: wrap;
}

.create-option__button--clicked {
  color: blue;
}

/* */

.create-live-header__container {
  @extend .lives-header__container;
  margin-right: 10px;
}

.create-sub-title {
  display: flex;
  align-items: flex-end;
  color: $dull-color;
  font-size: 17px;
}

.interaction-button__container {
  width: auto;
  height: 30px;
  margin-left: 5px;
}
.interaction__button {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  padding: 0 10px;
  background-color: $dull-color;
  &:hover {
    background-color: $base-color;
  }
}

.browser {
  .interaction-buttons__container {
    align-items: flex-end;
    margin-left: 10px;
  }
}

.mobile {
  .interaction-buttons__container {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 3;
  }
}
