.sign-up-form__container, .sign-in-form__container{
    max-width: 425px;
    min-width: 320px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 5px;
    form{
        padding: 0 5px;
    }
}

.sign-up-header__container, .sign-in-header__container{
    @extend .lives-header__container;
}

.id-input__container, .password-input__container, .name-input__container, .nickname-input__container{
margin-bottom: 20px;
padding: 0 10px;
}

.id__input, .password__input, .name__input, .nickname__input{
width: 100%;
margin: 5px 0;
padding: 10px 0 15px 0;
outline: 0;
border-bottom: 1px solid $shadow-color;
}

.sign-buttons__container{
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    .move-sign-up__link:hover{
        color: darken($base-color, 10%);
    }
}
