//components
@import "./components/create-form.scss";

//config
@import "./config/_colors.scss";
@import "./config/_fonts.scss";
@import "./config/_reset.scss";

//globalStyles
body {
  margin: 90px auto 0 auto;
  width: 100%;
  @media (min-width: 768px) {
    width: 630px;
  }
}

div,
span,
p,
a,
textarea,
button,
input {
  font-family: "Pretendard-Regular";
}

.flex {
  width: 100%;
  display: flex;
}
