//config
@import "./config/_colors.scss";
@import "./config/_fonts.scss";
@import "./config/_reset.scss";

//components
@import "./components/create-form.scss";
@import "./components/header.scss";

//globalStyles
.browser,
.mobile {
  margin: 90px auto 0 auto;
  width: 100%;
}
.browser {
  max-width: 1180px;
  min-width: 768px;
}
.mobile {
  min-width: 300px;
}

div,
span,
p,
a,
textarea,
button,
input {
  font-family: "Pretendard-Regular";
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}
