//config
@import "./config/_colors.scss";
@import "./config/_fonts.scss";
@import "./config/_reset.scss";

//components
@import "./components/create-form.scss";
@import "./components/header.scss";
@import "./components/live.scss";
@import "./components/play-video.scss";
@import "./components/title.scss";

//globalStyles

.browser {
  width: 100%;
  max-width: 1180px;
  min-width: 768px;
  margin: 90px auto 0 auto;
}
.mobile {
  width: 100%;
  min-width: 300px;
  margin: 55px auto 0 auto;
}

div,
span,
p,
a,
textarea,
button,
input {
  font-family: "Pretendard-Regular";
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}
