.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid $dull-color;
  z-index: 19;
}
.header-search__container {
  width: 60%;
  max-width: 380px;
  padding: 0 10px;
  .flex {
    svg {
      display: inline-block;
      font-size: 36px;
      line-height: 1;
      vertical-align: middle;
      padding-right: 6px;
      color: #828c94;
    }
  }
  border-radius: 10px;
  border: #c8d6e5 1px solid;
  &:hover {
    background-color: lighten(#f1f2f6, 1%);
    input {
      background-color: lighten(#f1f2f6, 1%);
    }
  }
  &:focus-within {
    border: $base-color 1px solid;
  }
}

.header-search__input {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  padding: 10px 5px;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  &::placeholder {
    color: #c8d6e5;
  }
}
.create-option__container {
  width: 150px;
  height: 80px;
  animation: appear-create-option 0.3s forwards;
  @keyframes appear-create-option {
    from {
      transform: translate(-30px, 0px);
    }
    to {
      transform: translate(-30px, 5px);
    }
  }
  position: relative;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 221, 224);
  border-radius: 6px;
  box-shadow: lighten($shadow-color, 30%) 0px 3px 10px 0px;
}
.create-link__container {
  font-size: 15px;
  padding: 5px;
}

/* --------------------------------------------------------------------------------- */

.browser {
  .header {
    min-width: 768px;
    padding: 0 20px;
  }
  .header__container {
    width: 100%;
    max-width: 1140px;
    height: 90px;
    margin: 0 auto;
    justify-content: space-between;
    .flex {
      align-items: center;
    }
  }

  .logo__container {
    display: flex;
    a {
      font-size: 26px;
      letter-spacing: 1px;
      font-family: "RixInooAriDuriR";
    }
  }

  .header-category__container {
    width: 120px;
    justify-content: space-evenly;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .header-category {
    &:hover {
      color: $base-color;
    }
  }

  .header-category--current {
    color: $base-color;
  }

  .header-right__container {
    width: 55%;
    justify-content: space-between;
  }

  .header-tool__container {
    width: 100%;
    max-width: 160px;
    margin-left: 20px;
    justify-content: space-between;
  }

  .header-profile-image__container {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .header-profile__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .header-profile-menu__container {
    @extend .create-option__container;
    animation: appear-header-profile-menu 0.3s forwards;
    @keyframes appear-header-profile-menu {
      from {
        transform: translate(-30px, -5px);
      }
      to {
        transform: translate(-30px, 0px);
      }
    }
  }

  .header-profile-menu {
    font-size: 15px;
    padding: 5px;
  }

  .create-button__container {
    position: relative;
    width: 90px;
    height: 40px;
  }

  .create__button {
    cursor: pointer;
    border: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 0 10px 0 16px;
    color: #ffffff;
    background-color: $base-color;
    display: flex;
    align-items: center;
    svg {
      margin-left: 1px;
      font-size: 26px;
    }
    &:hover {
      background-color: darken($base-color, 10%);
    }
  }
}

/* --------------------------------------------------------------------------------- */

.mobile {
  .header__container {
    width: 100%;
    height: 55px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-logo__container,
  .logo__container {
    display: flex;
    a {
      font-size: 26px;
      letter-spacing: 1px;
      font-family: "RixInooAriDuriR";
    }
  }

  .header-icon__container {
    font-size: 28px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(33, 38, 41, 0.5);
  }
  .sidebar__container {
    width: 260px;
    height: 100%;
    background-color: #ffffff;
    animation: appear-sidebar 0.3s forwards;
    @keyframes appear-sidebar {
      from {
        transform: translate(-20px, 0px);
      }
      to {
        transform: translate(0px, 0px);
      }
    }
  }
  .sidebar-header__container {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 20px;
  }
  .sidebar-profile__image {
    width: 50px;
    height: 50px;
  }
  .sidebar-profile-menu__container {
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $dull-color;
  }
  .sidebar-profile-menu {
    width: 100%;
    font-size: 18px;
    margin: 8px 0;
  }

  .sidebar-category__container {
    height: 200px;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px;
    a {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 10px 0;
    }
  }
  .sidebar-category--current {
    color: $base-color;
  }

  .logo__container {
    margin-left: 43px;
  }

  .header-search__foward {
    .header-icon__container {
      margin-right: 10px;
    }
  }

  .header-search__container--behind {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    animation: appear-behind-search 0.5s forwards;
    @keyframes appear-behind-search {
      from {
        transform: translate(45px, 0px);
      }
      to {
        transform: translate(0px, 0px);
      }
    }
  }

  .header-search__container {
    width: 80% !important;
    .flex {
      align-items: center;
    }
  }

  .header-search-cancel__container {
    width: 50px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .create-option__container {
    position: absolute;
    top: 40px;
    right: -20px;
  }
}
